In [87]:
import pandas as pd
a=pd.read_csv('file8.csv',squeeze=True)

a.value_counts(ascending=False)

ankit      100    2
golu       200    1
rahul      300    1
anushka    300    1
sonu       200    1
golu       600    1
Name: NAME       MARKS, dtype: int64

In [22]:
a=pd.read_csv('file7.csv',squeeze=True)
a

0    110
1     22
2     33
3     11
4     33
5     77
6     44
7     77
8     44
Name: marks, dtype: int64

In [88]:
def fun(x):
    if x<=50:
        print('fair')
    elif x>=50 and x<=75:
        print('good')
    else:
        print('excellent')
a.apply(fun)

TypeError: '<=' not supported between instances of 'str' and 'int'

# Dataframes

In [89]:
a=pd.read_csv('nb.csv')
a

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,NaN,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,NaN,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,NaN,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,NaN,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,NaN,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
5,NaN,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240,NaN,12000000.0
6,NaN,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235,LSU,1170960.0
7,NaN,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238,Gonzaga,2165160.0
8,NaN,Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190,Louisville,1824360.0
9,NaN,Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220,Oklahoma State,3431040.0
10,NaN,Jared Sullinger,Boston Celtics,7,C,24,9-Jun,260,Ohio State,2569260.0
11,NaN,Isaiah Thomas,Boston Celtics,4,PG,27,9-May,185,Washington,6912869.0
12,NaN,Evan Turner,Boston Celtics,11,SG,27,7-Jun,220,Ohio State,3425510.0
13,NaN,James Young,Boston Celtics,13,SG,20,6-Jun,215,Kentucky,1749840.0
14,NaN,Tyler Zeller,Boston Celtics,44,C,26,Jul-00,253,North Carolina,2616975.0
15,NaN,Bojan Bogdanovic,Brooklyn Nets,44,SG,27,8-Jun,216,NaN,3425510.0
16,NaN,Markel Brown,Brooklyn Nets,22,SG,24,3-Jun,190,Oklahoma State,845059.0
17,NaN,Wayne Ellington,Brooklyn Nets,21,SG,28,4-Jun,200,North Carolina,1500000.0
18,NaN,Rondae Hollis-Jefferson,Brooklyn Nets,24,SG,21,7-Jun,220,Arizona,1335480.0
19,NaN,Jarrett Jack,Brooklyn Nets,2,PG,32,3-Jun,200,Georgia Tech,6300000.0
20,NaN,Sergey Karasev,Brooklyn Nets,10,SG,22,7-Jun,208,NaN,1599840.0
21,NaN,Sean Kilpatrick,Brooklyn Nets,6,SG,26,4-Jun,219,Cincinnati,134215.0
22,NaN,Shane Larkin,Brooklyn Nets,0,PG,23,11-May,175,Miami (FL),1500000.0
23,NaN,Brook Lopez,Brooklyn Nets,11,C,28,Jul-00,275,Stanford,19689000.0
24,NaN,Chris McCullough,Brooklyn Nets,1,PF,21,11-Jun,200,Syracuse,1140240.0
25,NaN,Willie Reed,Brooklyn Nets,33,PF,26,10-Jun,220,Saint Louis,947276.0
26,NaN,Thomas Robinson,Brooklyn Nets,41,PF,25,10-Jun,237,Kansas,981348.0
27,NaN,Henry Sims,Brooklyn Nets,14,C,26,10-Jun,248,Georgetown,947276.0
28,NaN,Donald Sloan,Brooklyn Nets,15,PG,28,3-Jun,205,Texas A&M,947276.0
29,NaN,Thaddeus Young,Brooklyn Nets,30,PF,27,8-Jun,221,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...,...
427,NaN,Cliff Alexander,Portland Trail Blazers,34,PF,20,8-Jun,240,Kansas,525093.0
428,NaN,Al-Farouq Aminu,Portland Trail Blazers,8,SF,25,9-Jun,215,Wake Forest,8042895.0
429,NaN,Pat Connaughton,Portland Trail Blazers,5,SG,23,5-Jun,206,Notre Dame,625093.0
430,NaN,Allen Crabbe,Portland Trail Blazers,23,SG,24,6-Jun,210,California,947276.0
431,NaN,Ed Davis,Portland Trail Blazers,17,C,27,10-Jun,240,North Carolina,6980802.0
432,NaN,Maurice Harkless,Portland Trail Blazers,4,SF,23,9-Jun,215,St. John's,2894059.0
433,NaN,Gerald Henderson,Portland Trail Blazers,9,SG,28,5-Jun,215,Duke,6000000.0
434,NaN,Chris Kaman,Portland Trail Blazers,35,C,34,Jul-00,265,Central Michigan,5016000.0
435,NaN,Meyers Leonard,Portland Trail Blazers,11,PF,24,1-Jul,245,Illinois,3075880.0
436,NaN,Damian Lillard,Portland Trail Blazers,0,PG,25,3-Jun,195,Weber State,4236287.0
437,NaN,C.J. McCollum,Portland Trail Blazers,3,SG,24,4-Jun,200,Lehigh,2525160.0
438,NaN,Luis Montero,Portland Trail Blazers,44,SG,23,7-Jun,185,Westchester CC,525093.0
439,NaN,Mason Plumlee,Portland Trail Blazers,24,C,26,11-Jun,235,Duke,1415520.0
440,NaN,Brian Roberts,Portland Trail Blazers,2,PG,30,1-Jun,173,Dayton,2854940.0
441,NaN,Noah Vonleh,Portland Trail Blazers,21,PF,20,9-Jun,240,Indiana,2637720.0
442,NaN,Trevor Booker,Utah Jazz,33,PF,28,8-Jun,228,Clemson,4775000.0
443,NaN,Trey Burke,Utah Jazz,3,PG,23,1-Jun,191,Michigan,2658240.0
444,NaN,Alec Burks,Utah Jazz,10,SG,24,6-Jun,214,Colorado,9463484.0
445,NaN,Dante Exum,Utah Jazz,11,PG,20,6-Jun,190,NaN,3777720.0
446,NaN,Derrick Favors,Utah Jazz,15,PF,24,10-Jun,265,Georgia Tech,12000000.0
447,NaN,Rudy Gobert,Utah Jazz,27,C,23,1-Jul,245,NaN,1175880.0
448,NaN,Gordon Hayward,Utah Jazz,20,SF,26,8-Jun,226,Butler,15409570.0
449,NaN,Rodney Hood,Utah Jazz,5,SG,23,8-Jun,206,Duke,1348440.0
450,NaN,Joe Ingles,Utah Jazz,2,SF,28,8-Jun,226,NaN,2050000.0
451,NaN,Chris Johnson,Utah Jazz,23,SF,26,6-Jun,206,Dayton,981348.0
452,NaN,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,NaN,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,NaN,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
455,NaN,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
456,NaN,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [90]:
b=a[['Name','Team','Number','Position','Age','Height','Weight','College',"Salary"]].copy()
b.head(10)
b.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [91]:
b.dtypes

Name         object
Team         object
Number        int64
Position     object
Age           int64
Height       object
Weight        int64
College      object
Salary      float64
dtype: object

In [92]:
b.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [93]:
b.info

<bound method DataFrame.info of                         Name                    Team  Number Position  Age  \
0              Avery Bradley          Boston Celtics       0       PG   25
1                Jae Crowder          Boston Celtics      99       SF   25
2               John Holland          Boston Celtics      30       SG   27
3                R.J. Hunter          Boston Celtics      28       SG   22
4              Jonas Jerebko          Boston Celtics       8       PF   29
5               Amir Johnson          Boston Celtics      90       PF   29
6              Jordan Mickey          Boston Celtics      55       PF   21
7               Kelly Olynyk          Boston Celtics      41        C   25
8               Terry Rozier          Boston Celtics      12       PG   22
9               Marcus Smart          Boston Celtics      36       PG   22
10           Jared Sullinger          Boston Celtics       7        C   24
11             Isaiah Thomas          Boston Celtics       4       PG   27
12               Evan Turner          Boston Celtics      11       SG   27
13               James Young          Boston Celtics      13       SG   20
14              Tyler Zeller          Boston Celtics      44        C   26
15          Bojan Bogdanovic           Brooklyn Nets      44       SG   27
16              Markel Brown           Brooklyn Nets      22       SG   24
17           Wayne Ellington           Brooklyn Nets      21       SG   28
18   Rondae Hollis-Jefferson           Brooklyn Nets      24       SG   21
19              Jarrett Jack           Brooklyn Nets       2       PG   32
20            Sergey Karasev           Brooklyn Nets      10       SG   22
21           Sean Kilpatrick           Brooklyn Nets       6       SG   26
22              Shane Larkin           Brooklyn Nets       0       PG   23
23               Brook Lopez           Brooklyn Nets      11        C   28
24          Chris McCullough           Brooklyn Nets       1       PF   21
25               Willie Reed           Brooklyn Nets      33       PF   26
26           Thomas Robinson           Brooklyn Nets      41       PF   25
27                Henry Sims           Brooklyn Nets      14        C   26
28              Donald Sloan           Brooklyn Nets      15       PG   28
29            Thaddeus Young           Brooklyn Nets      30       PF   27
..                       ...                     ...     ...      ...  ...
427          Cliff Alexander  Portland Trail Blazers      34       PF   20
428          Al-Farouq Aminu  Portland Trail Blazers       8       SF   25
429          Pat Connaughton  Portland Trail Blazers       5       SG   23
430             Allen Crabbe  Portland Trail Blazers      23       SG   24
431                 Ed Davis  Portland Trail Blazers      17        C   27
432         Maurice Harkless  Portland Trail Blazers       4       SF   23
433         Gerald Henderson  Portland Trail Blazers       9       SG   28
434              Chris Kaman  Portland Trail Blazers      35        C   34
435           Meyers Leonard  Portland Trail Blazers      11       PF   24
436           Damian Lillard  Portland Trail Blazers       0       PG   25
437            C.J. McCollum  Portland Trail Blazers       3       SG   24
438             Luis Montero  Portland Trail Blazers      44       SG   23
439            Mason Plumlee  Portland Trail Blazers      24        C   26
440            Brian Roberts  Portland Trail Blazers       2       PG   30
441              Noah Vonleh  Portland Trail Blazers      21       PF   20
442            Trevor Booker               Utah Jazz      33       PF   28
443               Trey Burke               Utah Jazz       3       PG   23
444               Alec Burks               Utah Jazz      10       SG   24
445               Dante Exum               Utah Jazz      11       PG   20
446           Derrick Favors               Utah Jazz      15       PF   24
447              Rudy Gobert               Utah Jazz      27        C   23
448           Gordon Hayward               Utah Jazz      20       SF   26
449              Rodney Hood               Utah Jazz       5       SG   23
450               Joe Ingles               Utah Jazz       2       SF   28
451            Chris Johnson               Utah Jazz      23       SF   26
452               Trey Lyles               Utah Jazz      41       PF   20
453             Shelvin Mack               Utah Jazz       8       PG   26
454                Raul Neto               Utah Jazz      25       PG   24
455             Tibor Pleiss               Utah Jazz      21        C   26
456              Jeff Withey               Utah Jazz      24        C   26

     Height  Weight            College      Salary
0     2-Jun     180              Texas   7730337.0
1     6-Jun     235          Marquette   6796117.0
2     5-Jun     205  Boston University         NaN
3     5-Jun     185      Georgia State   1148640.0
4    10-Jun     231                NaN   5000000.0
5     9-Jun     240                NaN  12000000.0
6     8-Jun     235                LSU   1170960.0
7    Jul-00     238            Gonzaga   2165160.0
8     2-Jun     190         Louisville   1824360.0
9     4-Jun     220     Oklahoma State   3431040.0
10    9-Jun     260         Ohio State   2569260.0
11    9-May     185         Washington   6912869.0
12    7-Jun     220         Ohio State   3425510.0
13    6-Jun     215           Kentucky   1749840.0
14   Jul-00     253     North Carolina   2616975.0
15    8-Jun     216                NaN   3425510.0
16    3-Jun     190     Oklahoma State    845059.0
17    4-Jun     200     North Carolina   1500000.0
18    7-Jun     220            Arizona   1335480.0
19    3-Jun     200       Georgia Tech   6300000.0
20    7-Jun     208                NaN   1599840.0
21    4-Jun     219         Cincinnati    134215.0
22   11-May     175         Miami (FL)   1500000.0
23   Jul-00     275           Stanford  19689000.0
24   11-Jun     200           Syracuse   1140240.0
25   10-Jun     220        Saint Louis    947276.0
26   10-Jun     237             Kansas    981348.0
27   10-Jun     248         Georgetown    947276.0
28    3-Jun     205          Texas A&M    947276.0
29    8-Jun     221       Georgia Tech  11235955.0
..      ...     ...                ...         ...
427   8-Jun     240             Kansas    525093.0
428   9-Jun     215        Wake Forest   8042895.0
429   5-Jun     206         Notre Dame    625093.0
430   6-Jun     210         California    947276.0
431  10-Jun     240     North Carolina   6980802.0
432   9-Jun     215         St. John's   2894059.0
433   5-Jun     215               Duke   6000000.0
434  Jul-00     265   Central Michigan   5016000.0
435   1-Jul     245           Illinois   3075880.0
436   3-Jun     195        Weber State   4236287.0
437   4-Jun     200             Lehigh   2525160.0
438   7-Jun     185     Westchester CC    525093.0
439  11-Jun     235               Duke   1415520.0
440   1-Jun     173             Dayton   2854940.0
441   9-Jun     240            Indiana   2637720.0
442   8-Jun     228            Clemson   4775000.0
443   1-Jun     191           Michigan   2658240.0
444   6-Jun     214           Colorado   9463484.0
445   6-Jun     190                NaN   3777720.0
446  10-Jun     265       Georgia Tech  12000000.0
447   1-Jul     245                NaN   1175880.0
448   8-Jun     226             Butler  15409570.0
449   8-Jun     206               Duke   1348440.0
450   8-Jun     226                NaN   2050000.0
451   6-Jun     206             Dayton    981348.0
452  10-Jun     234           Kentucky   2239800.0
453   3-Jun     203             Butler   2433333.0
454   1-Jun     179                NaN    900000.0
455   3-Jul     256                NaN   2900000.0
456  Jul-00     231             Kansas    947276.0

[457 rows x 9 columns]>

In [94]:
b.get_dtype_counts()

object     5
int64      3
float64    1
dtype: int64

In [95]:
l=['ankit','sharma']
l1=['anushka','tiwari']
l.extend(l1)
l

['ankit', 'sharma', 'anushka', 'tiwari']

In [106]:
p=pd.read_csv('nba1.csv').head()
p

,Date,New York,Los Angeles,Miami,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,1/1/2016,985.0,122.0,499.0,NaN,NaN,NaN,NaN,NaN
1,1/2/2016,738.0,788.0,534.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2016,14.0,20.0,933.0,NaN,NaN,NaN,NaN,NaN
3,1/4/2016,730.0,904.0,885.0,NaN,NaN,NaN,NaN,NaN
4,1/5/2016,114.0,71.0,253.0,NaN,NaN,NaN,NaN,NaN

In [176]:
p.sum()

Date           1/1/20161/2/20161/3/20161/4/20161/5/2016
New York                                           2581
Los Angeles                                        1905
Ank                 CricketCricketCricketCricketCricket
Ankita                             KucjKucjKucjKucjKucj
Ankit                              KucjKucjKucjKucjKucj
Miami                                              3104
Unnamed: 4                                            0
Unnamed: 5                                            0
Unnamed: 6                                            0
Unnamed: 7                                            0
Unnamed: 8                                            0
Songs          ShoppingShoppingShoppingShoppingShopping
dtype: object

In [177]:
p.sum(axis=1)

0    1606.0
1    2060.0
2     967.0
3    2519.0
4     438.0
dtype: float64

In [178]:
p['Songs']='Shopping'
p.insert(loc=3,column='Ank',value="Cricket")
p

ValueError: cannot insert Ank, already exists

In [179]:
x=pd.read_csv('nb.csv').head()
x

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,NaN,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,NaN,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,NaN,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,NaN,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,NaN,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0

In [180]:
x['Salary']+5
x['kl']=x['Salary']*10
x

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary,kl
0,NaN,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0,77303370.0
1,NaN,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0,67961170.0
2,NaN,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN,NaN
3,NaN,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0,11486400.0
4,NaN,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0,50000000.0

In [188]:
z=pd.read_csv('nb.csv').head(20)
z.dropna(how='all')
z.dropna(axis=1)

,Name,Team,Number,Position,Age,Height,Weight
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231
5,Amir Johnson,Boston Celtics,90,PF,29,9-Jun,240
6,Jordan Mickey,Boston Celtics,55,PF,21,8-Jun,235
7,Kelly Olynyk,Boston Celtics,41,C,25,Jul-00,238
8,Terry Rozier,Boston Celtics,12,PG,22,2-Jun,190
9,Marcus Smart,Boston Celtics,36,PG,22,4-Jun,220
10,Jared Sullinger,Boston Celtics,7,C,24,9-Jun,260
11,Isaiah Thomas,Boston Celtics,4,PG,27,9-May,185
12,Evan Turner,Boston Celtics,11,SG,27,7-Jun,220
13,James Young,Boston Celtics,13,SG,20,6-Jun,215
14,Tyler Zeller,Boston Celtics,44,C,26,Jul-00,253
15,Bojan Bogdanovic,Brooklyn Nets,44,SG,27,8-Jun,216
16,Markel Brown,Brooklyn Nets,22,SG,24,3-Jun,190
17,Wayne Ellington,Brooklyn Nets,21,SG,28,4-Jun,200
18,Rondae Hollis-Jefferson,Brooklyn Nets,24,SG,21,7-Jun,220
19,Jarrett Jack,Brooklyn Nets,2,PG,32,3-Jun,200

In [193]:
for i in '':
  print(i)

In [189]:
for i in range 2.0 :
    print(i)

SyntaxError: invalid syntax (<ipython-input-189-0b5804b8b6d4>, line 1)