In [13]:
import pandas as pd
a=pd.read_csv('data_python.csv')
a.iloc[:,3:5]

    Dependents     Education
0            0      Graduate
1            1      Graduate
2            0      Graduate
3            0  Not Graduate
4            0      Graduate
5            2      Graduate
6            0  Not Graduate
7           3+      Graduate
8            2      Graduate
9            1      Graduate
10           2      Graduate
11           2      Graduate
12           2      Graduate
13           0      Graduate
14           2      Graduate
15           0      Graduate
16           1  Not Graduate
17           0      Graduate
18           0  Not Graduate
19           0      Graduate
20           0  Not Graduate
21           1      Graduate
22           0  Not Graduate
23           2  Not Graduate
24           1      Graduate
25           0      Graduate
26           0      Graduate
27           2  Not Graduate
28           0  Not Graduate
29           2      Graduate
..         ...           ...
584          1      Graduate
585          1      Graduate
586          0      Graduate
587          0  Not Graduate
588          0      Graduate
589          2      Graduate
590          0      Graduate
591          2      Graduate
592         3+      Graduate
593          0      Graduate
594          0      Graduate
595          0  Not Graduate
596          2  Not Graduate
597        NaN      Graduate
598          0      Graduate
599          2      Graduate
600         3+      Graduate
601          0  Not Graduate
602         3+      Graduate
603          0      Graduate
604          1      Graduate
605          0  Not Graduate
606          1      Graduate
607          2  Not Graduate
608          0      Graduate
609          0      Graduate
610         3+      Graduate
611          1      Graduate
612          2      Graduate
613          0      Graduate

[614 rows x 2 columns]